.card {
    height: 300px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    transition: 0.3s;
  
    h4 {
      text-align: center;
      font-size: 17px;
      transition: color 0.3s ease;
    }
    p {
      font-size: 15px;
    }
    img {
      display: block;
    }
  
    &.dark {
      background-color: #2C2C2E; 
      color: white;
  
      h4 {
        color: white;
      }
  
      p {
        color: #fefefe; 
      }
    }
  }
  