header{
    background-color: transparent;
    nav{
        .active{
            font-weight: 800;
            color: #90E051;
        }
        // .box {
        //     width: 100px;
        //     height: 100px;
        //     background: yellow;
        //     --mask:
        //       radial-gradient(90.7px at 123.75px 50%,#000 99%,#0000 101%) 0 calc(50% - 90px)/100% 180px,
        //       radial-gradient(90.7px at -78.75px 50%,#0000 99%,#000 101%) 45px 50%/100% 180px repeat-y;
        //     -webkit-mask: var(--mask);
        //             mask: var(--mask);
        //   }
        .logo{
            width: 133px;
            position: relative;
            h1{
                font-size: 29px;
                font-weight: 800;
                line-height: 28px;
            }
        }
        ul{
            li{
                font-size: 14px;
                font-weight: 500;
            }
        }
    }
}