#intro{
  margin-bottom: 170px;
  button:nth-child(odd){
    width: 170px;
    height: 50px;
    background: #f1a501b0;
    border-radius: 13px;
    font-size: 15px;
    font-weight: 500;
    color: white;
  }
  
}
@keyframes floatUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-16px); // 16px yuqoriga
  }
}

@keyframes floatDownUp {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(16px); // 16px pastga
  }
}

#air1 {
  animation: floatUpDown 3s ease-in-out infinite;
}

#air2 {
  animation: floatDownUp 3s ease-in-out infinite;
}
