.kart {
  overflow: hidden;
  img {
    padding: 0;
    margin: 0;
  }

  .bio {
    background: #ffffff;
    width: 66.8%;
    height: 120px;
    top: 210px;
    transform: translate(63px, -260px);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h4 {
      font-size: 15px;
      color: #14183E; 
      transition: color 0.3s ease;
    }

    p {
      font-size: 14px;
      color: #5E6282; 
      transition: color 0.3s ease;
    }
  }

  &.dark {
    background-color: #2C2C2E; 
    color: white;

    .bio {
      background: #3A3A3C; 
      color: white;

      h4 {
        color: white; 
      }

      p {
        color: #A6A8B3; 
      }
    }
  }
}
